name: Build Job for Pyodide

description: This composite action encapsulates the build job for creating the cross-build environment for Pyodide.

on:
  workflow_call:
    inputs:
      branch:
        type: string
        description: "The branch to build"
        default: "main"
        required: false

permissions: {}

jobs:
  build:
    name: ${{ matrix.build_type }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        build_type: [release, debug]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"

      - uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install system-level dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
          cmake bzip2 ccache f2c g++ gfortran git make \
          patch pkg-config swig unzip wget xz-utils \
          autoconf autotools-dev automake texinfo dejagnu \
          build-essential libtool libltdl-dev \
          gnupg2 libdbus-glib-1-2 sudo sqlite3 \
          ninja-build jq xxd

      - name: Cache ccache outputs
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: /tmp/ccache
          key: ccache-${{ matrix.build_type == 'debug' && 'debug-' || '' }}${{ hashFiles('Makefile.envs') }}

      - name: Checkout Pyodide
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: pyodide/pyodide
          ref: ${{ inputs.branch }}
          path: pyodide_checkout
          submodules: recursive
          persist-credentials: false

      - name: Restore cached built packages
        uses: actions/cache/restore@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            pyodide_checkout/packages/.libs/*
            pyodide_checkout/packages/.artifacts/*
            pyodide_checkout/dist/*.whl
          key: pyodide-packages-${{ matrix.build_type == 'debug' && 'debug-' || '' }}${{ hashFiles('pyodide_checkout/packages/recipes/**/*.yaml') }}

      - run: echo "PYODIDE_JOBS=$(nproc)" >> "$GITHUB_ENV"

      - name: Build Pyodide packages with NumPy v2 enabled (release version)
        working-directory: pyodide_checkout/
        run: |
          source pyodide_env.sh
          ccache -z
          make -C emsdk
          make -C cpython
          pip install -e ./pyodide-build
          PYODIDE_PACKAGES="numpy,scipy,cffi" make
          make dist/python.exe
          ccache -s

      - name: Build debug version
        if: matrix.build_type == 'debug'
        working-directory: pyodide_checkout/
        run: |
          rm dist/pyodide.asm.js
          source pyodide_env.sh
          ccache -z
          PYODIDE_DEBUG=1 make dist/pyodide.asm.js
          ccache -s
          pushd dist
          npx prettier -w pyodide.asm.js
          npx prettier -w pyodide.js
          popd

      - name: Save ccached outputs
        uses: actions/cache/save@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: /tmp/ccache
          key: ccache-${{ matrix.build_type == 'debug' && 'debug-' || '' }}${{ hashFiles('Makefile.envs') }}

      - name: Create cross-build environment
        working-directory: pyodide_checkout/
        env:
          MATRIX_BUILD_TYPE: ${{ matrix.build_type }}
        run: |
          python tools/create_xbuildenv.py .
          if [[ "$MATRIX_BUILD_TYPE" == "debug" ]]; then
            tar cjf xbuildenv-debug.tar.bz2 ./xbuildenv/
          else
            tar cjf xbuildenv.tar.bz2 ./xbuildenv/
          fi

      - name: Upload cross-build environment
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cross-build-env${{ matrix.build_type == 'debug' && '-debug' || '' }}
          path: |
            pyodide_checkout/xbuildenv*.tar.bz2
          if-no-files-found: error
          retention-days: 1
